[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=numpy.*,torch.*,h5py.*,pandas.*

max-line-length=88

min-similarity-lines=12

disable=
    # We get too-many-ancestors warnings whenever we inherit LightningModule:
    # it's not really a problem and there isn't really anything we could do
    # about it anyway
    too-many-ancestors,

    # We get these arguments-differ warnings when we override
    # PyTorch Lightnings dataload methods because we have fewer
    # arguments, but if we include all the arguments, we'd
    # get unused variable warnings instead
    arguments-differ,

    # this is invaluable for tests, and generally
    # good practice whenever you want to limit your
    # dependencies to what absolutely Must Be Done
    import-outside-toplevel,

    # we often don't want to override lightning's abstract methods
    abstract-method,

    # Jackson opines that the traditional alternative
    # to no-else-return is antipattern
    no-else-return,

    # these not-callable warnings come from an issue with pytorch
    # that may be resolved in pytorch version 1.7.2
    not-callable,

    # we don't have comprehensive documentation yet, let's suppress
    # these warnings until that's something we're focused on
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,

    # suppress Unused argument 'batch_idx' (unused-argument) warnings.
    # I wish there were a way to do this just for arguments named `batch_idx`
    unused-argument,

    # our autoencoder has more than 5 arguments
    too-many-arguments,
    too-many-instance-attributes,

    # test_spatial has 16 local variables but I really like the way it
    # looks. Each variable is well named and what test_spatial does
    # is super clear because of it.
    too-many-locals,

    # unsubscriptable-object gets called with lists but not arrays. Given
    # the overhead it would take to rewrite all the code, it's easier
    # just to disable this warning
    unsubscriptable-object,

ignore=data_processing.py, __init__.py
